@{
    ViewData["Title"] = "Home Page";
}

@model List<WeatherRecord>

<div class="text-center">
  <ul class="list-group">
    <li class="list-group-item"><a href="/WeatherArchive/Uploader">Archive Uploader</a></li>
    <li class="list-group-item"><a href="/WeatherArchive/Viewer">Archive Viewer</a></li>
  </ul>
</div>
