app_data/
WeatherArchiveApplication/src/bin/
WeatherArchiveApplication/src/obj/
WeatherArchiveApplication/WeatherArchiveApplication.dockerfile
docker-compose.yml
DeployScripts/FileTemplates/__pycache__/
.DS_Store
